#main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

#main h1 {
  font-size: 3rem;
  padding: 2rem;
}

.login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_div h2{
  margin: 1rem;
}

.register_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem;
}

.login_button {
  padding: 0.4rem;
  margin: 0.4rem;
  font-size: 1.1rem;
  
}

.register_button {
  padding: 0.4rem;
  font-size: 1.1rem;
  margin: 0.4rem;
}

.register_div h2{
  margin: 1rem;
}

input {
  padding: 0.7rem;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.error-messages {
  font-size: 1.2rem;
}

#response_messages {
  margin: 2.5rem;
}