#navbar_main {
  background-color: rgba(36, 113, 172, 0.788);
}

.navbar_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  max-width: 1010px;
  margin: 0 auto;
}

#navbar_logo {
  font-size: 1rem;
  color: white;
}

#navbar_account {
}
