#profile_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {

}

.channel_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}